.button-editor-container {
    border: 1px solid #ccc;
    padding: 20px 10px;
}

.button-editor-header {
    text-align: center;
}

.button-editor-row {
    padding: 12px 20px;

    .button-editor-label {
        display: inline-flex;
        align-items: center;
    }
}